@import  url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..600&family=Young+Serif&display=swap');

.omelette{
    height: 100%;
    max-width: 575px;
    flex-basis: auto;
    padding: 16px;
    border-radius: 8%;
    align-self: center;
}

img{

}

.footer > a {
    color: hsl(215, 96%, 49%);
    text-decoration:dotted;
}

html{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: hsl(330, 100%, 98%);
    font-family: 'Outfit', sans-serif;  
    color: hsl(14, 45%, 36%); 
    font-size: 16px; 
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    max-width: 600px;
    flex: 1 1 auto;
    border-radius: 15px;
}

h1, h2 {
    font-family: 'Young Serif';
    line-height: 10%;
    padding: 16px 0;
}
h1{
    color: black;
}
h3 {
    font-family: 'Outfit', sans-serif;
    color: hsl(332, 51%, 32%);
    font-size: 22px;
    line-height: normal;
}

.preptime{
    background-color: hsl(30, 18%, 87%);
    padding: 0px 16px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;  
}

.ingredients{
    padding: 8px 16px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    line-height: 1.8;   
    text-align: left;
}

.footer{
    text-align: center;
    font-size: 10px;
    padding: 32px 0 8px 0;
}

ol, ul {
    font-weight: 500;
}

.subtitle{
    font-size: 15px;
    text-align: left;
}

li {
    padding: 8px;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

br{
    border-bottom: 1px solid black;
}

 th, td{
    border-bottom: 1px solid hsl(14, 49%, 69%);  
    text-align: left;
    padding: 8px 32px;
    width: 100%;
    line-height: 200%;
    font-weight: bold;
}